<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Document</title>
	<link rel="stylesheet" href="layout.css">
</head>
<body>
	<ul class="head_ul">
		<li class="head_logo">1</li>
		<li class="head_button"><button class="head_click">click me</button></li>
		<li class="head_item_first">2</li>
		<li class="head_item">3</li>
		<li class="head_item">4</li>
		<li class="head_item">5</li>
	</ul>
	<ul class="aside_ul">
		<li class="aside_item">1</li>
		<li class="aside_item">2</li>
		<li class="aside_item">3</li>
		<li class="aside_item">4</li>
		<li class="aside_item">5</li>
	</ul>
	<div class="content_div">
		<ul class="content_crumb">
			<li>1</li>
			<li>></li>
			<li>2</li>
			<li>></li>
			<li>3</li>
		</ul>
		<div class="content_head">
			<button class="content_button">添加</button>
			<div class="content_search">
				<input type="text" class="content_search_text" placeholder="搜索...">
				<span class="content_search_button"></span>
			</div>
		</div>
		<table class="content_table">
			<tr>
				<th>1</th>
				<th>2</th>
				<th>3</th>
			</tr>
			<tr>
				<td>1</td>
				<td>2</td>
				<td>3</td>
			</tr>
		</table>
	</div>
	<ul class="foot_ul">
		<li class="foot_item">1</li>
		<li class="foot_item">2</li>
		<li class="foot_item">3</li>
		<li class="foot_item">4</li>
		<li class="foot_item">5</li>
	</ul>
</body>
</html>